---
/**
 * HeroMap.astro
 * 
 * Interactive US map visualization with cycling market hotspots.
 * Designed for the hero section right column.
 * 
 * Dependencies: None (vanilla JS + CSS animations)
 */
---

<div class="hero-map__visual" id="heroMapVisual">
  <div class="hero-map__map-container">
    <!-- US Map SVG -->
    <svg class="hero-map__svg" viewBox="0 0 960 600" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
      <defs>
        <radialGradient id="hmGlow" cx="50%" cy="50%" r="55%">
          <stop offset="0%" stop-color="var(--color-brand-secondary)" stop-opacity="0.07" />
          <stop offset="100%" stop-color="var(--color-brand-secondary)" stop-opacity="0" />
        </radialGradient>
        <linearGradient id="hmMapFill" x1="0" y1="0" x2="0" y2="1">
          <stop offset="0%" stop-color="var(--color-brand-secondary)" stop-opacity="0.03" />
          <stop offset="100%" stop-color="var(--color-brand-primary)" stop-opacity="0.06" />
        </linearGradient>
        <filter id="hmDotGlow">
          <feGaussianBlur stdDeviation="4" result="b" />
          <feMerge><feMergeNode in="b" /><feMergeNode in="SourceGraphic" /></feMerge>
        </filter>
        <filter id="hmDotGlowLg">
          <feGaussianBlur stdDeviation="8" result="b" />
          <feMerge><feMergeNode in="b" /><feMergeNode in="SourceGraphic" /></feMerge>
        </filter>
        <!-- Subtle dot grid pattern -->
        <pattern id="hmGrid" width="24" height="24" patternUnits="userSpaceOnUse">
          <circle cx="12" cy="12" r="0.5" fill="var(--color-brand-secondary)" opacity="0.15" />
        </pattern>
      </defs>

      <!-- Background ambiance -->
      <ellipse cx="480" cy="300" rx="440" ry="280" fill="url(#hmGlow)" />

      <!-- Dot grid background -->
      <rect width="960" height="600" fill="url(#hmGrid)" class="hero-map__grid" />

      <!-- Continental US filled landmass -->
      <path class="hero-map__us-fill" d="M642,485L647,484M635,375L645,374L650,374L660,373L667,372L680,371L685,377L688,385L690,393L691,399L693,405L697,418L699,423L702,427L704,432L702,438L701,444L703,449L703,454L705,460L696,462L688,463L676,464L666,465L655,466L656,471L660,474L659,479L655,483L648,484L653,483L649,478L646,482L640,482L640,477L639,470L638,462L636,447L636,441L637,427L637,400L637,384L638,377M134,398L139,396L136,391L137,386L140,381L142,376L145,370L149,367L148,360L147,354L146,347L148,339L148,333L148,328L148,323L153,321L157,325L161,322L162,317L163,312L165,304L178,306L192,309L212,312L218,313L229,314L244,317L254,318L250,352L249,357L247,375L245,387L244,392L236,448L218,445L209,444L197,442L174,429L161,421L154,417L131,403M267,227L282,229L291,230L311,232L324,234L339,235L352,236L370,237L378,238L387,239L385,262L385,269L384,278L382,307L381,331L369,330L363,330L350,329L339,328L327,327L306,325L294,323L284,322L269,320L254,318L256,307L258,292L260,279L265,238M810,588M808,589M803,592M789,598L792,594L796,591L801,593L795,595M785,599M782,599M773,551L776,556M766,600M715,487M705,461L708,466L718,466L737,465L751,464L761,463L763,468L765,463L764,458L769,458L774,458L776,463L781,474L785,483L788,489L791,493L797,500L801,505L801,510L804,517L807,522L810,527L813,532L816,537L818,542L819,550L819,555L819,560L820,565L817,569L817,574L817,580L814,585L815,580L810,581L804,583L800,579L799,574L795,571L790,568L784,564L783,558L779,555L775,551L776,546L773,550L768,544L765,539L761,535L764,530L766,524L760,522L763,527L760,531L757,527L757,522L758,517L759,511L757,506L755,501L750,497L746,494L741,491L739,486L735,483L729,480L722,480L719,484L711,489L706,490L711,491L715,488L711,491L706,492L701,490L697,485L692,482L686,479L679,478L673,478L665,480L658,482L661,478L659,473L655,469L666,465L676,464L688,463L696,462M684,371L695,369L707,368L720,366L730,365L726,370L729,374L735,376L738,380L741,385L745,389L750,391L754,395L757,399L761,402L765,405L768,409L770,414L774,417L776,422L781,426L779,431L778,436L777,442L776,447L774,452L775,457L770,458L765,457L765,463L763,468L761,463L751,464L737,465L718,466L709,467L706,462L703,457L703,451L701,445L701,439L702,434L702,428L699,423L697,418L693,405L691,399L690,393L688,385M634,219L639,221L644,218L651,216L663,215L675,214L680,213L681,219L684,247L685,255L686,264L686,270L686,275L688,280L683,284L678,284L677,289L674,294L670,298L668,303L664,299L660,302L658,307L654,304L650,308L645,306L640,307L635,307L634,302L636,297L639,293L641,287L639,282L638,277L638,267L638,259L637,253L637,248M385,262L401,263L408,263L424,264L441,264L451,265L469,265L485,265L494,265L502,265L507,268L507,273L508,278L511,283L515,294L515,310L515,327L515,334L499,335L486,335L475,335L461,334L448,334L431,334L424,333L414,333L404,332L391,332L381,331L382,310L384,282M937,103M935,104M933,100M929,104M931,113M928,107M927,104M907,139L904,135L900,131L898,123L892,105L887,90L892,89L892,84L895,79L897,74L895,69L895,64L896,55L903,35L907,39L912,38L916,35L922,35L927,37L930,47L934,60L935,65L939,68L942,72L945,77L950,77L954,81L952,87L948,91L944,94L941,98L937,102L934,98L934,103L934,108L931,104L928,100L926,105L928,110L924,113L920,117L917,121L912,123L909,128L908,134M925,176L929,173M915,177L918,173M867,156L881,154L892,151L900,149L903,145L908,147L908,152L907,157L912,158L914,163L918,166L923,165L924,160L928,166L923,168L918,172L914,176L917,172L912,172L907,172L904,167L895,167L883,169L875,171L868,173M472,58L491,58L503,58L503,50L508,51L509,56L510,61L513,65L518,66L524,67L529,68L534,66L541,68L545,71L548,75L553,75L558,77L564,77L568,74L572,77L577,76L583,76L588,78L584,82L578,84L572,87L566,93L563,98L558,102L552,107L549,111L549,124L545,127L542,131L540,136L544,139L543,144L543,149L542,154L545,158L550,159L555,162L558,167L563,170L568,175L569,180L557,183L544,183L537,184L524,184L513,184L495,184L483,184L483,160L483,152L483,143L479,140L477,135L481,131L481,126L481,119L478,113L478,108L478,101L477,96L477,90L475,84L473,78L473,73L473,67L472,61M845,235L848,230L851,226L855,222L852,217L849,213L846,208L846,203L849,199L850,194L857,195L866,198L866,204L863,208L867,212L869,218L869,223L868,232L866,237L863,241L862,247L859,243L854,244L850,241L846,236M861,320M860,340L864,336L867,332L867,327L868,335L863,337M751,324L756,324L766,323L776,322L790,319L808,316L813,315L829,312L836,310L846,308L855,306L858,312L861,317L865,322L861,318L857,312L853,308L856,313L859,317L856,313L851,313L851,318L846,317L843,321L842,316L843,322L848,321L854,320L856,327L856,321L861,322L862,327L858,330L856,335L851,335L847,332L843,335L850,336L850,341L846,346L851,343L853,348L849,351L855,346L859,340L856,345L853,350L847,352L841,354L836,359L832,364L830,370L829,375L823,375L811,372L803,366L794,359L785,361L773,362L769,356L764,356L757,357L744,358L739,360L730,365L720,366L707,368L707,362L712,360L714,355L721,353L725,349L731,344L735,339L740,337L745,337L747,332L750,328M368,53L378,54L396,55L407,56L412,56L423,57L432,57L439,58L447,58L461,58L472,58L473,64L473,69L473,75L474,80L475,86L477,94L477,99L477,105L478,110L479,116L481,122L481,128L469,128L459,128L452,128L437,127L426,127L416,126L402,126L395,125L378,124L368,123L362,123L367,67M363,330L368,330L381,331L391,332L404,332L414,333L424,333L431,334L448,334L461,334L475,335L486,335L499,335L515,334L516,346L517,353L518,362L519,372L519,378L519,383L519,388L519,399L519,412L514,410L510,407L505,405L499,407L494,407L489,408L484,411L480,408L475,407L470,407L465,407L460,406L455,407L451,403L447,400L442,400L437,400L432,398L429,394L424,393L419,392L415,389L417,345L409,344L398,344L388,343L376,342L363,341M751,198L756,195L760,191L764,195L779,193L793,190L808,187L814,186L821,185L831,183L837,181L842,184L844,189L849,192L849,198L846,202L847,208L847,213L851,216L856,219L852,225L848,230L843,231L828,237L820,238L811,240L797,243L778,247L767,248L760,250M360,144L362,127L368,123L378,124L395,125L402,126L416,126L426,127L437,127L452,128L459,128L469,128L481,128L480,133L478,138L482,142L483,152L483,158L483,184L482,189L483,194L481,199L482,204L477,203L471,201L466,199L461,199L455,200L449,196L442,195L431,195L422,194L409,194L397,193L382,192L374,191L356,190L357,183M363,341L376,342L388,343L398,344L409,344L417,345L415,389L419,392L424,393L429,394L432,398L437,399L442,400L447,400L451,403L455,407L459,404L463,407L468,406L473,405L477,408L482,409L487,410L491,407L496,407L501,407L507,405L512,410L517,411L521,414L526,413L528,426L528,450L532,454L532,459L535,463L537,469L539,474L537,479L535,484L536,489L535,494L533,499L530,503L518,508L516,503L511,503L512,508L512,513L507,515L513,512L510,516L506,519L502,522L497,525L490,529L483,532L478,537L472,541L469,546L466,551L463,557L462,563L463,569L464,576L466,586L465,578L463,573L462,567L462,562L462,557L465,550L468,546L472,540L478,535L473,538L467,539L466,546L461,545L465,549L462,555L457,558L461,561L460,569L461,575L463,581L465,586L462,591L457,589L453,586L448,586L443,585L439,582L434,581L429,578L425,574L424,569L421,565L420,560L419,554L418,549L413,546L410,542L408,537L403,533L403,528L399,524L398,519L397,514L393,510L389,506L386,502L382,499L377,498L372,497L367,496L361,497L356,500L354,505L351,510L348,514L343,513L338,509L334,506L329,504L326,500L321,497L319,491L318,486L317,481L315,475L312,470L306,467L303,462L299,459L296,454L291,450L289,445L285,442L308,441L325,443L341,444L354,445L356,421L356,416L357,405L357,400L360,370L360,362L362,346M360,144L357,183L356,190L352,236L339,235L324,234L315,233L291,230L282,229L267,227L259,225L250,224L239,223L233,222L235,213L237,199L239,185L243,161L245,150L245,145L246,139L247,133L252,131L258,132L263,133L268,134L279,135L292,137L310,139L320,140L330,141L339,142M868,173L875,171L880,171L895,166L897,173L899,180L895,183L890,186L885,187L880,190L876,193L872,197L872,192L870,187M494,252L505,252L515,252L524,251L532,251L548,250L558,250L564,249L567,253L568,258L570,264L571,269L575,272L578,276L582,279L584,284L586,289L591,287L593,292L592,298L591,303L595,307L599,311L604,313L608,317L609,323L610,328L614,331L615,336L611,339L608,344L608,350L605,354L594,355L597,350L599,345L574,344L553,345L544,345L529,346L516,346L515,334L515,329L515,311L515,297L515,285L510,282L507,277L508,272L508,267L503,266L499,261L496,256M728,285L733,284L735,279L735,274L738,270L740,265L743,261L748,259L751,255L754,251L754,246L755,241L756,236L755,231L760,250L767,248L778,247L780,258L783,254L788,251L791,247L796,248L800,243L806,244L809,248L809,255L803,252L798,249L798,254L796,259L793,264L788,268L787,274L781,273L779,278L776,283L775,288L772,294L771,299L766,302L762,306L756,308L751,309L746,309L742,305L738,302L734,299L731,294L728,289M570,254L570,249L574,246L577,242L577,237L575,231L580,229L585,227L587,222L589,217L588,212L584,208L580,205L597,204L611,203L623,202L628,202L629,208L632,215L635,224L637,248L637,253L638,259L638,267L639,274L638,279L640,285L639,290L637,295L634,299L634,304L633,310L632,315L629,319L625,323L626,328L621,326L616,325L614,330L609,326L609,321L607,316L603,311L598,310L594,306L591,302L592,296L594,290L589,286L584,286L583,280L578,276L575,272L571,269L570,264L568,259M254,318L269,320L284,322L293,323L306,325L325,327L339,328L350,329L363,330L363,339L362,346L360,362L360,370L357,400L357,405L356,413L356,421L354,445L341,444L325,443L308,441L285,439L286,444L272,442L254,440L253,450L236,448L244,392L245,387L247,375L249,357M516,346L529,346L544,345L553,345L574,344L597,343L599,348L595,353L605,354L605,359L602,363L600,368L600,373L596,377L594,382L592,387L591,392L587,395L587,400L583,403L582,408L582,413L583,418L584,423L568,425L557,426L546,426L540,426L528,426L528,414L523,413L519,399L519,391L519,383L519,378L519,372L518,364L517,355M65,365L69,368M63,375L66,381M57,363M53,349M46,365M44,346L49,349L44,348M38,346L43,348M34,344M20,149L29,151L34,153L39,154L46,156L53,158L65,162L72,164L83,167L89,168L81,196L77,211L75,219L73,228L71,235L78,245L83,253L86,258L91,265L97,274L100,279L107,288L122,312L134,330L138,335L146,347L146,353L148,359L151,363L148,367L142,372L142,377L138,383L136,389L139,395L134,398L105,395L88,393L86,388L87,381L85,373L81,370L78,365L74,361L70,356L67,352L62,351L57,347L54,341L49,340L45,337L40,335L35,332L35,327L37,322L36,317L35,312L32,307L29,303L27,298L26,292L23,288L22,282L26,278L27,273L22,271L19,266L20,260L19,255L22,250L22,255L26,260L26,255L25,250L26,244L22,247L17,245L16,240L15,235L12,229L10,224L7,218L8,211L11,205L11,200L9,193L6,186L7,180L13,174L15,168L19,162L19,156M845,235M841,234L845,231L844,236L847,240L850,244L853,249L856,253L860,260L853,262L848,261M822,257M483,184L495,184L513,184L524,184L537,184L544,183L557,183L570,182L572,188L571,193L573,200L578,201L580,206L584,210L589,213L589,218L587,223L583,227L578,229L575,233L577,239L575,244L572,248L570,253L565,251L558,250L548,250L536,251L524,251L515,252L505,252L494,252L493,247L493,242L492,237L492,231L488,228L489,223L486,219L484,214L483,209L482,204L481,199L483,194L481,189M615,330L616,325L621,326L626,328L626,323L629,319L632,315L633,310L639,307L645,306L649,309L653,305L658,305L661,301L666,302L670,298L674,294L677,290L677,285L682,284L687,282L687,277L692,274L697,277L701,280L706,281L711,281L716,282L720,279L724,282L728,285L729,290L732,295L735,299L739,303L736,311L732,314L729,318L726,322L721,326L715,329L709,330L704,331L699,331L693,332L685,332L675,333L666,334L652,335L646,336L639,337L635,340L626,341L618,341L613,342L614,337M609,342M846,275M843,271M835,258M778,247L797,243L811,240L820,238L828,237L841,234L848,261L853,262L860,260L859,268L852,273L848,270L846,265L842,269L837,264L840,260L837,256L837,251L836,246L839,241L835,244L832,248L833,254L832,259L834,264L837,268L840,274L835,272L830,269L825,269L821,266L824,261L823,255L817,255L813,251L809,248L806,244L800,243L796,246L791,248L786,251L783,256M671,119L676,121M660,122M658,121M657,127M655,124M653,131M651,138M649,141M640,128M646,217L649,213L651,208L653,202L654,197L654,191L652,185L650,180L646,174L648,168L646,163L649,157L649,152L651,147L653,142L657,139L658,144L662,140L661,134L665,131L665,125L669,122L675,124L681,125L686,128L691,128L694,132L693,138L696,142L697,147L696,152L694,158L689,161L689,166L693,169L697,165L699,160L703,157L708,158L710,163L713,170L714,175L716,180L716,185L715,190L710,192L708,197L707,202L704,207L698,212L688,214L680,215L675,214L663,215M595,80L601,76L605,73L601,78L597,81M579,111L585,108L590,104L596,102L601,100L604,96L608,93L612,88L618,88L614,92L611,96L609,103L614,100L619,101L623,104L626,109L631,109L636,110L641,107L646,103L652,103L659,100L664,99L663,104L669,105L674,104L678,108L680,113L685,114L690,114L685,116L680,115L673,116L670,120L665,116L660,115L655,119L650,120L645,120L643,125L637,123L633,127L630,131L628,137L626,142L624,137L622,132L621,127L616,126L612,122L607,123L600,120L584,116L580,112M638,485M633,485M629,486M626,486M583,425L584,420L584,415L583,410L583,405L587,401L586,396L590,393L593,389L592,384L596,381L612,377L622,376L635,375L637,384L637,397L637,423L636,441L636,447L638,462L639,470L640,477L640,482L635,482L629,482L623,485L618,488L615,483L612,479L612,474L613,469L601,470L592,470L576,471L576,466L577,461L578,456L582,453L584,448L587,444L589,439L584,437L584,432L585,427M187,26L200,29L212,31L222,34L233,35L251,39L263,41L275,42L293,45L301,46L316,48L329,49L337,50L353,52L359,53L368,53L367,67L362,123L360,144L353,144L339,142L331,141L320,140L311,139L292,137L279,135L268,134L263,133L258,132L253,132L248,130L246,139L242,136L239,140L233,140L228,138L223,138L218,137L214,134L212,128L208,125L208,119L207,114L206,109L201,109L196,109L195,103L198,99L198,94L201,89L203,84L198,83L195,79L193,73L190,69L187,65L185,60L185,55L182,49L183,44M883,99L883,94L887,90L892,105L897,121L900,128L900,133L904,136L906,142L903,146L892,151L881,154L878,150L879,145L878,140L877,134L879,129L879,124L879,119L882,115L884,110L882,105M896,185M895,189M893,187M865,206L864,211M811,142M810,142M763,189L767,185L772,181L775,176L774,171L771,167L774,163L779,160L785,159L791,159L798,159L803,158L808,156L811,152L815,149L814,143L811,139L813,133L817,128L820,123L824,117L828,113L833,111L838,110L847,108L854,106L855,111L856,116L858,122L857,128L859,133L860,138L865,145L866,153L867,164L867,172L869,181L870,187L872,192L870,197L869,202L873,198L878,198L885,194L890,191L895,190L900,188L896,191L892,195L885,200L880,204L874,206L868,209L866,204L866,198L857,195L851,193L846,191L843,186L838,182L831,183L821,185L814,186L808,187L793,190L783,192L764,195M715,212M713,212M680,215L688,214L698,212L703,211L708,213L713,214L718,216L723,215L728,213L733,212L737,208L744,202L750,199L756,229L756,234L755,239L755,244L754,249L751,255L748,259L743,261L740,265L741,271L736,270L733,275L735,280L731,284L725,282L722,278L718,281L712,281L707,282L701,280L697,277L694,273L689,274L686,270L686,264L685,255L684,247M59,58L62,62L67,65L68,70L67,75L71,78L77,79L82,78L87,79L91,83L96,83L101,82L106,84L111,83L116,83L123,83L136,85L150,88L159,90L161,95L164,100L160,106L157,111L154,116L150,120L147,124L148,129L149,134L147,139L137,180L128,177L111,174L101,171L89,168L83,167L72,164L65,162L56,159L48,157L39,154L34,153L29,151L20,149L18,144L19,138L21,133L20,128L24,124L26,119L29,115L34,107L37,99L39,94L41,89L44,82L46,77L47,72L49,67L51,62L52,56L56,59M605,354L608,350L609,345L613,342L618,341L626,341L635,340L639,336L646,336L652,335L662,334L672,334L682,333L690,332L699,331L704,331L709,330L714,330L722,328L732,327L746,325L751,324L750,329L746,336L741,336L738,340L733,341L729,347L724,350L716,353L712,357L709,362L707,368L695,369L686,370L680,371L669,372L660,373L650,374L645,374L635,375L622,376L612,377L596,378L599,374L600,369L601,364L604,360L607,356M187,190L206,194L218,196L230,198L237,199L235,209L233,222L239,223L247,224L259,225L267,227L266,237L260,275L258,289L256,306L254,318L244,317L229,315L218,313L212,312L192,309L178,306L165,304L168,286L169,281L171,272L172,265L179,233L181,218M846,277M852,274L859,270L857,275L854,281L854,287L853,292L849,289L849,284L850,279M846,275M742,304L745,309L751,310L754,306L761,306L766,302L772,299L772,294L774,289L776,284L779,278L779,273L786,276L788,271L789,266L794,262L797,257L799,251L809,255L810,250L815,251L819,255L823,258L823,263L820,267L824,270L828,273L833,273L839,276L841,281L835,281L831,278L835,281L838,285L843,286L844,291L845,296L840,297L835,294L839,298L844,300L849,299L853,303L846,308L838,310L829,312L813,315L808,316L790,319L779,321L768,322L760,323L751,324L746,324L736,326L722,328L717,329L721,326L725,322L729,318L732,314M81,38M87,12M87,7M86,11M83,18L87,15L84,19L85,24M84,5M82,7M83,0M79,8L84,7L85,12L79,10M79,6M173,23L171,29L169,37L168,42L165,56L159,81L160,86L150,88L136,85L127,83L119,83L114,83L109,83L104,84L99,82L93,82L88,80L83,78L77,79L72,78L67,75L68,70L67,65L64,61L60,58L55,56L53,50L57,47L54,41L55,36L54,30L55,25L55,20L53,15L55,10L60,10L65,14L70,17L75,19L80,21L83,26L80,30L73,34L78,31L82,28L83,33L81,38L78,42L77,37L76,42L81,40L84,36L86,31L88,26L89,21L88,16L90,10L87,6L88,1L98,4L103,6L110,8L118,10L128,12L137,15L146,17M636,135M629,139M577,101M577,104M574,103M573,105M573,102M572,101M572,107M569,102M553,109L559,108L564,106L569,103L572,109L577,111L582,113L600,120L605,122L610,122L616,123L619,127L622,132L625,136L625,141L623,146L621,151L626,147L630,144L632,139L636,136L635,141L633,146L630,152L628,159L627,164L626,170L626,177L625,182L625,187L626,192L628,197L628,202L623,202L614,203L600,204L583,204L578,201L573,200L571,195L571,190L570,184L568,178L566,172L561,169L558,165L552,161L547,159L544,155L543,150L543,145L544,140L540,136L542,131L545,127L549,124L549,111M356,190L374,191L382,192L393,193L409,194L422,194L431,195L442,195L449,195L453,198L457,201L462,199L467,199L474,201L479,204L482,208L485,214L486,219L489,223L488,228L492,231L492,237L493,242L493,247L494,252L497,258L501,262L494,265L485,265L469,265L451,265L441,264L424,264L408,263L401,263L385,262L387,239L378,238L370,237M730,365L736,362L741,359L757,357L764,356L769,356L773,360L785,361L790,360L801,364L811,372L819,377L814,381L811,385L809,393L807,399L802,401L799,406L796,410L790,414L787,420L783,424L778,425L776,420L772,416L769,412L766,407L761,403L757,399L754,395L750,392L745,389L742,385L739,381L736,377L730,374L726,371M159,90L160,84L165,57L168,42L169,37L171,29L173,23L182,25L187,26L184,42L182,49L185,53L186,58L187,65L190,69L193,73L194,78L198,81L202,84L201,89L199,94L198,99L195,103L194,108L199,110L203,107L207,111L206,116L208,121L209,127L213,130L214,136L217,140L222,138L227,137L232,138L237,139L241,136L244,141L245,150L243,160L239,182L237,199L230,198L218,196L206,194L190,191L180,189L174,187L166,186L148,182L137,180L147,139L149,134L150,129L146,125L149,121L153,117L156,112L159,108L162,104L164,98L160,93M89,168L101,171L110,173L128,177L137,180L148,182L166,186L174,187L180,189L187,190L183,213L181,218L179,230L172,265L171,272L170,277L168,286L165,304L163,312L162,317L161,322L157,325L153,322L148,322L149,327L147,332L147,337L148,343L138,335L134,330L122,312L107,288L100,279L97,274L91,265L86,258L83,253L78,245L72,237L72,230L75,219L77,211L81,197M854,106L864,103L870,102L883,99L883,104L884,109L882,115L878,118L879,123L879,128L878,133L878,139L878,144L878,150L881,154L867,156L865,145L863,138L860,134L858,128L858,123L857,117L855,112M631,490L632,496M622,490M617,503M603,513M599,514M596,515M570,504L575,504M528,426L540,426L546,426L557,426L568,425L583,425L583,430L586,434L587,439L584,443L585,448L582,452L580,457L579,462L575,465L577,470L592,470L601,470L613,469L612,474L612,479L615,483L618,488L613,491L616,495L619,491L624,492L623,497L619,500L619,505L624,506L628,509L628,514L623,516L625,511L618,509L613,508L609,511L604,510L599,509L596,513L591,512L586,511L583,507L579,502L574,500L569,500L565,505L558,504L551,502L544,501L536,501L534,496L535,491L536,485L536,480L538,475L538,470L536,465L533,461L532,456L529,450M907,172L907,177M905,173M905,177M903,185M898,182L898,176L896,169L902,165L904,170L904,175L904,180" />

      <!-- State boundaries for texture -->
      <path class="hero-map__us-states" d="M134,398L139,396L136,391L137,386L140,381L142,376L145,370L149,367L148,360L147,354L146,347L148,339L148,333L148,328L148,323L153,321L157,325L161,322L162,317L163,312L165,304L178,306L192,309L212,312L218,313L229,314L244,317L254,318L250,352L249,357L247,375L245,387L244,392L236,448M684,371L685,377L688,385L690,393L691,399L693,405L697,418L699,423L702,427L704,432L702,438L701,444L703,449L703,454L705,460L707,465L718,466L737,465L751,464L761,463L763,468L765,463L764,458L769,458L774,458M640,482L640,477L639,470L638,462L636,447L636,441L637,427L637,400L637,384L638,377L645,374L650,374L660,373L667,372L680,371L686,370L695,369L707,368L720,366L730,365L726,370L729,374L735,376L738,380L741,385L745,389L750,391L754,395L757,399L761,402L765,405L768,409L770,414L774,417L776,422L781,426M646,217L651,216L663,215L675,214L680,213L681,219L684,247L685,255L686,264L686,270L686,275L688,280L683,284L678,284L677,289L674,294L670,298L668,303L664,299L660,302L658,307L654,304L650,308L645,306L640,307L635,307L634,302L636,297L639,293L641,287L639,282L638,277L638,267L638,259L637,253L637,248L635,224L634,219M385,262L401,263L408,263L424,264L441,264L451,265L469,265L485,265L494,265L502,265L507,268L507,273L508,278L511,283L515,294L515,310L515,327L515,334L499,335L486,335L475,335L461,334L448,334L431,334L424,333L414,333L404,332L391,332L381,331M907,139L904,135L900,131L898,123L892,105L887,90M907,171L904,167L895,167L883,169L875,171L868,173L867,164L867,156L881,154L892,151L900,149L903,145M910,175M553,109L549,124L545,127L542,131L540,136L544,139L543,144L543,149L542,154L545,158L550,159L555,162L558,167L563,170L568,175L569,180L557,183L544,183L537,184L524,184L513,184L495,184L483,184L483,160L483,152L483,143L479,140L477,135L481,131L481,126L481,119L478,113L478,108L478,101L477,96L477,90L475,84L473,78L473,73L473,67L472,61M846,234L850,229L854,223L854,218L849,215L846,211L848,205L848,200L849,195L857,195L866,198L866,204M865,206L863,211M845,236M707,368L707,362L712,360L714,355L721,353L725,349L731,344L735,339L740,337L745,337L747,332L750,328L756,324L766,323L776,322L790,319L808,316L813,315L829,312L836,310L846,308L855,306M819,377L811,372L803,366L794,359L785,361L773,362L769,356L764,356L757,357L744,358L739,360L730,365M481,128L469,128L459,128L452,128L437,127L426,127L416,126L402,126L395,125L378,124L368,123L362,123L367,67L368,53M515,334L516,346L517,353L518,362L519,372L519,378L519,383L519,388L519,399L519,412L514,410L510,407L505,405L499,407L494,407L489,408L484,411L480,408L475,407L470,407L465,407L460,406L455,407L451,403L447,400L442,400L437,400L432,398L429,394L424,393L419,392L415,389L417,345L409,344L398,344L388,343L376,342L363,341L363,330M763,189L764,195L779,193L793,190L808,187L814,186L821,185L831,183L837,181L842,184L844,189L849,192M847,231L842,232L828,237L820,238L811,240L797,243L778,247L767,248L760,250L756,229L751,198M483,184L482,189L483,194L481,199L482,204L477,203L471,201L466,199L461,199L455,200L449,196L442,195L431,195L422,194L409,194L397,193L382,192L374,191L356,190L357,183L360,147L362,127M519,412L524,414L528,426L528,450L532,454L532,459L535,463L537,469L539,474L537,479L535,484L536,489L535,494L533,499M286,444L285,439L308,441L325,443L341,444L354,445L356,421L356,416L357,405L357,400L360,370L360,362L362,346L362,341M356,190L352,236M267,227L282,229L291,230L311,232L324,234L339,235L352,236L370,237L378,238L387,239L385,262L385,269L384,278L382,307L381,331L369,330L363,330L350,329L339,328L327,327L306,325L294,323L284,322L269,320L254,318L256,307L258,292L260,279L265,238L267,227L259,225L250,224L239,223L233,222L235,213L237,199L239,185L243,161L245,150L245,145L246,139L247,133L252,131L258,132L263,133L268,134L279,135L292,137L310,139L320,140L330,141L339,142L353,144L360,144M895,167L897,173L899,180M870,197L872,192L870,187L869,181L868,173M502,265L499,261L496,256L505,252L515,252L524,251L532,251L548,250L558,250L564,249L567,253L568,258L570,264L571,269L575,272L578,276L582,279L584,284L586,289L591,287L593,292L592,298L591,303L595,307L599,311L604,313L608,317L609,323L610,328L614,331L615,336L611,339L608,344L608,350L605,354L594,355L597,350L599,345L574,344L553,345L544,345L529,346L516,346M778,247L780,258L783,254L788,251L791,247L796,248L800,243L806,244L809,248L809,255L803,252L798,249L798,254L796,259L793,264L788,268L787,274L781,273L779,278L776,283L775,288L772,294L771,299L766,302L762,306L756,308L751,309L746,309L742,305L738,302L734,299L731,294L728,289L731,284L734,280L733,275L736,270L741,271L740,265L743,261L748,259L751,255L754,251L754,246L755,241L756,236L755,231M570,254L570,249L574,246L577,242L577,237L575,231L580,229L585,227L587,222L589,217L588,212L584,208L580,205L597,204L611,203L623,202L628,202M633,310L632,315L629,319L625,323L626,328L621,326L616,325L614,330M605,354L605,359L602,363L600,368L600,373L596,377L594,382L592,387L591,392L587,395L587,400L583,403L582,408L582,413L583,418L584,423L568,425L557,426L546,426L540,426L528,426M20,149L29,151L34,153L39,154L46,156L53,158L65,162L72,164L83,167L89,168L81,196L77,211L75,219L73,228L71,235L78,245L83,253L86,258L91,265L97,274L100,279L107,288L122,312L134,330L138,335L146,347M860,260L853,262L848,261L841,236M570,182L572,188L571,193L573,200L578,201M494,252L493,247L493,242L492,237L492,231L488,228L489,223L486,219L484,214L483,209M687,274L692,274L697,277L701,280L706,281L711,281L716,282L720,279L724,282L728,285M742,304L736,311L732,314L729,318L726,322L721,326L715,329L709,330L704,331L699,331L693,332L685,332L675,333L666,334L652,335L646,336L639,337L635,340L626,341L618,341L613,342M609,342M846,275M859,270L852,273M823,264M822,257L817,255L813,251M703,211L698,212L688,214L680,215M705,461L696,462L688,463L676,464L666,465L655,466L656,471L660,474L659,479M626,142L624,137L622,132L621,127L616,126L612,122L607,123L600,120L584,116L580,112M596,378L612,377L622,376L635,375M618,488L615,483L612,479L612,474L613,469L601,470L592,470L576,471L576,466L577,461L578,456L582,453L584,448L587,444L589,439L584,437L584,432L585,427M246,142L242,136L239,140L233,140L228,138L223,138L218,137L214,134L212,128L208,125L208,119L207,114L206,109L201,109L196,109L195,103L198,99L198,94L201,89L203,84L198,83L195,79L193,73L190,69L187,65L185,60L185,55L182,49L183,44L187,26M881,154L878,150L879,145L878,140L877,134L879,129L879,124L879,119L882,115L884,110L882,105L882,99M854,106L855,111L856,116L858,122L857,128L859,133L860,138L865,145L866,153M59,58L62,62L67,65L68,70L67,75L71,78L77,79L82,78L87,79L91,83L96,83L101,82L106,84L111,83L116,83L123,83L136,85L150,88L159,90L161,95L164,100L160,106L157,111L154,116L150,120L147,124L148,129L149,134L147,139L137,180L128,177L111,174L101,171L89,168M714,329L722,328L732,327L746,325L751,324M165,304L168,286L169,281L171,272L172,265L179,233L181,218L183,213L187,190L206,194L218,196L230,198L237,199M173,23L171,29L169,37L168,42L165,56L159,81L160,86M187,190L180,189L174,187L166,186L148,182L137,180" />

      <!-- Continental US outline -->
      <path class="hero-map__us-outline" d="M642,485L646,484L642,485M810,588M808,589M803,592L807,590L804,593M789,598L792,594L796,591L800,593L795,595L789,598M785,599M782,599M773,551L775,555L779,556L775,556L773,552M766,600M715,487M937,103M935,104M933,100M929,104M931,113M928,107M927,104M925,176L929,173L925,176M915,177L918,173L921,176L917,177M861,320M860,340L863,337L866,334L867,327L865,323L867,329L868,335L863,337L860,340M65,365L69,368L65,365M63,375L66,381L63,378M57,363M53,349M46,365M44,346L48,348L44,348M38,346L42,346L39,349M34,344M843,271M835,258M671,119L676,121L671,119M660,122M658,121M657,127L657,123L658,127M655,124M653,131M651,138M649,141M640,128M595,80L601,76L605,73L604,77L599,79L595,80M638,485M633,485L637,485L633,485M629,486M626,486M896,185M895,189M893,187M811,142M810,142M715,212M713,212M846,277M845,275M81,38M87,12M87,7M86,11M83,18L86,15L84,19L85,24L85,20M84,5M82,7M83,0M79,8L84,7L85,11L81,12L79,8M79,6M636,135M629,139M577,101M577,104M574,103M573,105M573,102M572,101L576,101L572,101M572,107L575,104L572,107M569,102M631,490L633,494L631,490M622,490L626,490L622,491M617,503M603,513M599,514M596,515M570,504L575,504L569,504M905,173M905,177M903,185M898,182L894,184L890,186L885,187L881,187L878,192L875,195L871,197L869,201L873,198L877,197L881,195L885,194L890,191L893,188L896,191L899,188L896,191L892,195L885,200L880,204L874,206L868,209L865,206L864,211L868,212L869,218L869,223L870,227L868,232L866,237L863,241L862,247L859,243L855,243L850,241L846,236L847,240L850,243L851,248L856,253L860,260L859,268L858,272L855,277L854,281L854,285L853,289L852,293L849,289L849,284L850,279L852,275L848,275L848,271L846,265L844,269L840,268L837,264L840,260L836,260L837,256L835,252L836,246L839,243L839,239L835,244L833,248L833,252L833,256L833,260L834,264L837,267L839,272L835,272L831,271L827,270L823,270L821,266L821,270L825,269L828,272L832,273L836,274L840,276L841,281L838,284L835,281L831,278L834,281L837,284L842,285L844,289L841,293L845,295L843,299L839,296L835,294L838,297L842,299L846,298L850,298L853,303L855,307L858,312L861,317L865,322L862,319L859,315L857,311L853,308L856,313L859,317L856,314L852,313L852,317L848,317L846,321L842,319L843,323L848,321L852,320L855,323L856,327L856,321L860,321L862,325L859,328L858,332L854,335L850,335L849,331L848,335L844,335L839,334L846,337L850,336L850,340L846,346L842,344L847,347L850,344L854,344L853,348L850,351L855,346L859,340L856,345L853,350L849,351L843,353L838,357L834,361L832,365L830,370L829,374L825,375L821,376L816,379L812,383L810,387L809,393L807,397L804,400L801,404L797,406L797,410L793,412L789,415L787,420L783,420L783,424L782,428L779,431L778,435L776,439L777,443L776,447L775,451L775,457L776,462L778,467L781,474L782,478L785,483L788,489L791,493L797,500L800,503L801,507L802,513L804,517L807,522L809,526L813,532L816,537L818,542L819,546L819,550L819,554L819,560L820,564L820,568L817,571L817,576L819,572L818,578L816,582L812,587L815,583L816,579L811,580L807,581L803,583L800,579L799,575L796,571L792,569L788,568L784,564L783,560L780,555L776,554L777,548L773,550L770,547L767,542L763,537L760,534L764,532L765,528L766,524L760,522L763,527L760,530L757,527L757,523L756,519L758,515L759,511L758,507L757,503L755,499L750,497L746,495L743,492L741,488L737,485L734,482L729,480L725,480L721,482L717,485L711,489L706,490L711,491L715,488L711,491L707,492L703,491L700,488L697,485L692,482L686,479L682,478L675,478L669,479L665,480L658,482L652,484L648,484L653,483L650,480L649,475L646,478L646,482L642,482L638,482L634,483L629,482L625,484L621,483L620,487L616,489L612,492L615,495L618,492L622,490L622,494L621,498L616,500L619,503L623,505L628,508L629,512L624,515L625,511L621,510L613,508L609,511L606,514L604,510L600,509L597,512L594,515L591,512L586,511L586,507L581,506L579,502L575,500L571,499L567,500L570,503L565,505L558,504L551,502L547,501L543,501L536,501L530,503L518,508L516,503L512,504L512,508L513,512L508,515L513,512L510,516L506,519L503,522L497,525L490,529L486,531L482,533L478,537L472,541L469,546L466,551L464,555L462,561L462,565L463,569L464,573L466,580L466,586L465,582L465,578L462,575L462,571L462,567L462,562L462,557L464,553L466,549L467,545L470,542L474,539L478,535L482,533L478,535L474,533L474,537L470,538L466,540L470,541L466,546L461,545L464,548L463,552L461,557L457,558L461,559L461,565L460,569L461,573L463,581L464,585L467,588L462,589L458,589L454,586L449,586L445,585L441,583L437,581L433,579L429,578L426,575L424,571L423,567L420,563L420,558L419,554L418,549L414,547L411,544L409,540L405,536L402,531L401,527L400,523L398,519L397,514L394,511L390,508L387,504L383,501L380,498L376,497L372,497L368,497L364,495L360,497L356,500L354,504L352,508L349,512L345,514L341,512L338,509L334,506L330,505L327,502L323,499L320,496L319,491L318,486L318,482L316,478L315,474L312,470L308,468L303,464L301,460L298,457L294,454L291,450L290,446L286,444L272,442L254,440L253,450L236,448L232,447L218,445L209,444L197,442L174,429L161,421L154,417L131,403L134,398L105,395L88,393L87,389L87,385L87,381L85,373L82,370L79,366L76,362L71,361L70,356L67,352L63,352L60,349L57,344L54,341L49,340L45,337L40,335L36,335L34,331L35,327L37,322L36,318L33,315L34,310L31,305L29,301L27,296L26,292L23,288L23,284L22,280L26,278L27,273L22,271L20,267L19,263L20,259L19,255L21,251L22,255L25,258L25,253L25,249L26,244L22,245L23,249L19,247L16,243L15,238L14,233L12,229L10,225L8,221L9,217L8,211L9,207L11,202L11,198L9,193L6,186L6,182L9,179L13,174L14,170L16,166L19,162L19,156L19,152L19,147L18,142L19,138L21,133L20,128L23,125L25,121L28,117L31,112L34,107L36,103L37,99L38,95L40,91L42,87L44,82L46,77L47,73L49,69L50,65L52,60L52,56L56,59L52,55L53,50L56,47L54,41L58,41L55,38L55,32L55,26L55,22L54,18L53,13L56,8L60,10L63,13L68,15L73,17L77,18L80,21L83,24L81,28L76,31L73,34L76,31L80,30L84,27L83,31L82,35L80,39L77,43L76,39L77,43L81,40L84,37L85,32L87,28L90,25L89,21L88,16L85,13L89,14L90,10L88,6L87,2L98,4L103,6L110,8L118,10L128,12L137,15L146,17L155,19L173,23L182,25L187,26L200,29L212,31L222,34L233,35L251,39L263,41L275,42L293,45L301,46L316,48L329,49L337,50L353,52L359,53L368,53L378,54L396,55L407,56L412,56L423,57L432,57L439,58L447,58L461,58L472,58L476,58L491,58L503,58L503,50L508,51L509,56L510,61L513,65L517,65L521,66L524,69L528,69L531,66L537,66L541,68L545,71L546,75L549,72L553,75L557,76L561,78L566,75L570,74L574,76L578,76L583,76L587,77L591,77L587,80L581,83L575,85L570,89L566,93L563,98L558,102L552,107L556,110L560,108L564,106L568,105L572,103L571,107L570,111L576,111L580,110L585,108L588,105L592,104L596,102L601,100L603,96L608,93L612,88L618,88L614,92L612,96L610,100L609,104L612,101L616,101L620,102L624,105L626,109L631,109L635,110L638,107L643,106L646,103L650,103L654,102L659,100L664,99L663,104L667,106L671,106L675,104L678,108L679,112L683,115L687,112L689,116L685,116L681,116L676,116L672,115L671,119L667,118L663,116L659,115L655,119L651,119L647,120L644,124L641,127L642,123L637,123L635,127L630,131L629,135L626,141L624,145L621,150L620,154L624,152L626,147L630,147L631,141L634,136L635,141L633,145L631,150L629,154L628,159L629,163L626,170L627,174L626,179L625,185L626,189L627,194L627,199L628,204L629,208L631,212L632,216L635,220L639,221L644,218L648,215L651,208L653,202L654,197L654,191L653,187L650,180L648,176L647,171L647,166L647,162L649,157L649,152L650,148L651,144L655,142L657,137L658,141L659,146L660,141L660,145L662,140L661,136L664,132L668,131L665,127L667,123L673,123L677,123L681,125L686,128L690,129L694,132L693,136L696,140L697,144L697,149L696,153L694,158L690,160L689,165L693,168L697,165L698,161L702,158L707,157L710,161L711,167L714,175L716,179L716,184L716,189L712,188L710,192L709,196L707,201L706,205L703,209L708,213L712,215L716,214L719,217L723,215L728,213L733,212L736,209L739,205L744,202L750,199L754,196L757,193L763,189L767,185L770,182L773,179L776,175L774,171L771,167L774,163L779,160L783,160L791,159L795,161L800,159L805,158L808,155L811,152L815,150L814,143L812,139L811,135L814,132L817,128L820,123L824,117L827,114L830,111L838,110L847,108L854,106L858,105L864,103L870,102L883,99L883,94L887,92L891,91L891,87L892,82L895,79L896,75L895,71L895,65L896,55L903,35L907,39L912,38L915,35L920,33L925,36L930,47L934,60L936,64L936,68L941,68L942,72L945,77L949,76L953,80L954,84L951,88L948,91L944,92L943,96L939,98L937,102L936,98L933,101L933,105L930,102L929,98L925,101L926,105L927,109L925,113L921,115L918,119L914,120L911,124L909,128L908,132L908,136L906,142L908,147L907,151L907,156L911,157L914,160L917,165L922,166L926,164L924,160L927,163L928,168L923,168L920,171L916,174L916,169L912,172L909,176L907,172L903,170L904,174L904,178L901,182" />

      <!-- Scatter dots for data density feel -->
      <g class="hero-map__scatter" opacity="0.15">
        <!-- Northeast cluster -->
        <circle cx="870" cy="185" r="1.5" fill="var(--color-brand-secondary)" />
        <circle cx="855" cy="195" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="840" cy="175" r="1.2" fill="var(--color-brand-secondary)" />
        <circle cx="825" cy="190" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="810" cy="170" r="1.3" fill="var(--color-brand-secondary)" />
        <circle cx="890" cy="160" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="835" cy="210" r="1.5" fill="var(--color-brand-secondary)" />
        <circle cx="820" cy="230" r="1" fill="var(--color-brand-secondary)" />
        <!-- Chicago cluster -->
        <circle cx="610" cy="215" r="1.5" fill="var(--color-brand-secondary)" />
        <circle cx="580" cy="240" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="600" cy="250" r="1.2" fill="var(--color-brand-secondary)" />
        <circle cx="620" cy="235" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="575" cy="220" r="1.3" fill="var(--color-brand-secondary)" />
        <circle cx="605" cy="200" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="640" cy="225" r="1.2" fill="var(--color-brand-secondary)" />
        <!-- Texas cluster -->
        <circle cx="485" cy="415" r="1.5" fill="var(--color-brand-secondary)" />
        <circle cx="460" cy="400" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="510" cy="420" r="1.2" fill="var(--color-brand-secondary)" />
        <circle cx="480" cy="390" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="520" cy="405" r="1.3" fill="var(--color-brand-secondary)" />
        <circle cx="455" cy="430" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="500" cy="440" r="1.2" fill="var(--color-brand-secondary)" />
        <!-- Florida cluster -->
        <circle cx="800" cy="520" r="1.5" fill="var(--color-brand-secondary)" />
        <circle cx="780" cy="500" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="810" cy="540" r="1.2" fill="var(--color-brand-secondary)" />
        <circle cx="790" cy="480" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="770" cy="510" r="1.3" fill="var(--color-brand-secondary)" />
        <circle cx="805" cy="495" r="1" fill="var(--color-brand-secondary)" />
        <!-- Scattered general -->
        <circle cx="400" cy="270" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="350" cy="240" r="1.2" fill="var(--color-brand-secondary)" />
        <circle cx="300" cy="200" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="250" cy="170" r="1.3" fill="var(--color-brand-secondary)" />
        <circle cx="200" cy="140" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="150" cy="120" r="1.2" fill="var(--color-brand-secondary)" />
        <circle cx="700" cy="300" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="650" cy="330" r="1.5" fill="var(--color-brand-secondary)" />
        <circle cx="550" cy="310" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="430" cy="350" r="1.2" fill="var(--color-brand-secondary)" />
        <circle cx="380" cy="310" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="330" cy="280" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="680" cy="260" r="1.5" fill="var(--color-brand-secondary)" />
        <circle cx="560" cy="180" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="500" cy="130" r="1.2" fill="var(--color-brand-secondary)" />
        <circle cx="720" cy="350" r="1" fill="var(--color-brand-secondary)" />
        <circle cx="760" cy="400" r="1.3" fill="var(--color-brand-secondary)" />
      </g>

      <!-- Data flow lines — animated dashes connecting active markets -->
      <g class="hero-map__data-lines">
        <line x1="819" y1="566" x2="632" y2="215" class="hero-map__data-line" />
        <line x1="632" y1="215" x2="471" y2="432" class="hero-map__data-line" />
        <line x1="471" y1="432" x2="819" y2="566" class="hero-map__data-line" />
        <line x1="632" y1="215" x2="905" y2="156" class="hero-map__data-line" />
        <line x1="819" y1="566" x2="905" y2="156" class="hero-map__data-line" />
      </g>

      <!-- Passive city hotspots — dots + labels, no insight cards -->
      <!-- Coordinates from Albers USA projection (975×610), ~1.5% scale diff from site's 960×600 — negligible -->
      <!-- Skipped: Boston (too close to Greater Boston hotspot), Miami (too close to South Florida hotspot), Milwaukee (too close to Chicago hotspot), Sacramento (too close to San Francisco) -->
      <g class="hero-map__passive-cities">
        <!-- Northeast corridor -->
        <g>
          <circle cx="869.7" cy="215.7" r="6" class="hero-map__passive-ring"/>
          <circle cx="869.7" cy="215.7" r="3" class="hero-map__passive-dot"/>
          <text x="869.7" y="201.7" text-anchor="middle" class="hero-map__passive-label">NEW YORK</text>
        </g>
        <g>
          <circle cx="854.2" cy="237.1" r="6" class="hero-map__passive-ring"/>
          <circle cx="854.2" cy="237.1" r="3" class="hero-map__passive-dot"/>
          <text x="854.2" y="223.1" text-anchor="middle" class="hero-map__passive-label">PHILADELPHIA</text>
        </g>
        <g>
          <circle cx="832.9" cy="257.2" r="6" class="hero-map__passive-ring"/>
          <circle cx="832.9" cy="257.2" r="3" class="hero-map__passive-dot"/>
          <text x="832.9" y="243.2" text-anchor="middle" class="hero-map__passive-label">BALTIMORE</text>
        </g>
        <g>
          <circle cx="827.4" cy="267.3" r="6" class="hero-map__passive-ring"/>
          <circle cx="827.4" cy="267.3" r="3" class="hero-map__passive-dot"/>
          <text x="827.4" y="253.3" text-anchor="middle" class="hero-map__passive-label">WASHINGTON DC</text>
        </g>
        <g>
          <circle cx="826.7" cy="299.4" r="6" class="hero-map__passive-ring"/>
          <circle cx="826.7" cy="299.4" r="3" class="hero-map__passive-dot"/>
          <text x="826.7" y="285.4" text-anchor="middle" class="hero-map__passive-label">RICHMOND</text>
        </g>
        <g>
          <circle cx="770.7" cy="242.2" r="6" class="hero-map__passive-ring"/>
          <circle cx="770.7" cy="242.2" r="3" class="hero-map__passive-dot"/>
          <text x="770.7" y="228.2" text-anchor="middle" class="hero-map__passive-label">PITTSBURGH</text>
        </g>
        <!-- Great Lakes / Midwest -->
        <g>
          <circle cx="713.2" cy="207.2" r="6" class="hero-map__passive-ring"/>
          <circle cx="713.2" cy="207.2" r="3" class="hero-map__passive-dot"/>
          <text x="713.2" y="193.2" text-anchor="middle" class="hero-map__passive-label">DETROIT</text>
        </g>
        <g>
          <circle cx="738.3" cy="230.0" r="6" class="hero-map__passive-ring"/>
          <circle cx="738.3" cy="230.0" r="3" class="hero-map__passive-dot"/>
          <text x="738.3" y="216.0" text-anchor="middle" class="hero-map__passive-label">CLEVELAND</text>
        </g>
        <g>
          <circle cx="721.4" cy="260.8" r="6" class="hero-map__passive-ring"/>
          <circle cx="721.4" cy="260.8" r="3" class="hero-map__passive-dot"/>
          <text x="721.4" y="246.8" text-anchor="middle" class="hero-map__passive-label">COLUMBUS</text>
        </g>
        <g>
          <circle cx="667.8" cy="271.8" r="6" class="hero-map__passive-ring"/>
          <circle cx="667.8" cy="271.8" r="3" class="hero-map__passive-dot"/>
          <text x="667.8" y="257.8" text-anchor="middle" class="hero-map__passive-label">INDIANAPOLIS</text>
        </g>
        <g>
          <circle cx="697.9" cy="283.7" r="6" class="hero-map__passive-ring"/>
          <circle cx="697.9" cy="283.7" r="3" class="hero-map__passive-dot"/>
          <text x="697.9" y="269.7" text-anchor="middle" class="hero-map__passive-label">CINCINNATI</text>
        </g>
        <g>
          <circle cx="678.4" cy="305.6" r="6" class="hero-map__passive-ring"/>
          <circle cx="678.4" cy="305.6" r="3" class="hero-map__passive-dot"/>
          <text x="678.4" y="291.6" text-anchor="middle" class="hero-map__passive-label">LOUISVILLE</text>
        </g>
        <g>
          <circle cx="599.8" cy="303.6" r="6" class="hero-map__passive-ring"/>
          <circle cx="599.8" cy="303.6" r="3" class="hero-map__passive-dot"/>
          <text x="599.8" y="289.6" text-anchor="middle" class="hero-map__passive-label">ST. LOUIS</text>
        </g>
        <!-- Central -->
        <g>
          <circle cx="541.9" cy="161.0" r="6" class="hero-map__passive-ring"/>
          <circle cx="541.9" cy="161.0" r="3" class="hero-map__passive-dot"/>
          <text x="541.9" y="147.0" text-anchor="middle" class="hero-map__passive-label">MINNEAPOLIS</text>
        </g>
        <g>
          <circle cx="499.1" cy="246.5" r="6" class="hero-map__passive-ring"/>
          <circle cx="499.1" cy="246.5" r="3" class="hero-map__passive-dot"/>
          <text x="499.1" y="232.5" text-anchor="middle" class="hero-map__passive-label">OMAHA</text>
        </g>
        <g>
          <circle cx="522.8" cy="295.7" r="6" class="hero-map__passive-ring"/>
          <circle cx="522.8" cy="295.7" r="3" class="hero-map__passive-dot"/>
          <text x="522.8" y="281.7" text-anchor="middle" class="hero-map__passive-label">KANSAS CITY</text>
        </g>
        <g>
          <circle cx="470.2" cy="378.9" r="6" class="hero-map__passive-ring"/>
          <circle cx="470.2" cy="378.9" r="3" class="hero-map__passive-dot"/>
          <text x="470.2" y="364.9" text-anchor="middle" class="hero-map__passive-label">OKLAHOMA CITY</text>
        </g>
        <g>
          <circle cx="665.1" cy="355.1" r="6" class="hero-map__passive-ring"/>
          <circle cx="665.1" cy="355.1" r="3" class="hero-map__passive-dot"/>
          <text x="665.1" y="341.1" text-anchor="middle" class="hero-map__passive-label">NASHVILLE</text>
        </g>
        <g>
          <circle cx="607.4" cy="382.9" r="6" class="hero-map__passive-ring"/>
          <circle cx="607.4" cy="382.9" r="3" class="hero-map__passive-dot"/>
          <text x="607.4" y="368.9" text-anchor="middle" class="hero-map__passive-label">MEMPHIS</text>
        </g>
        <g>
          <circle cx="670.5" cy="415.3" r="6" class="hero-map__passive-ring"/>
          <circle cx="670.5" cy="415.3" r="3" class="hero-map__passive-dot"/>
          <text x="670.5" y="401.3" text-anchor="middle" class="hero-map__passive-label">BIRMINGHAM</text>
        </g>
        <!-- Southeast -->
        <g>
          <circle cx="715.0" cy="405.1" r="6" class="hero-map__passive-ring"/>
          <circle cx="715.0" cy="405.1" r="3" class="hero-map__passive-dot"/>
          <text x="715.0" y="391.1" text-anchor="middle" class="hero-map__passive-label">ATLANTA</text>
        </g>
        <g>
          <circle cx="775.3" cy="362.4" r="6" class="hero-map__passive-ring"/>
          <circle cx="775.3" cy="362.4" r="3" class="hero-map__passive-dot"/>
          <text x="775.3" y="348.4" text-anchor="middle" class="hero-map__passive-label">CHARLOTTE</text>
        </g>
        <g>
          <circle cx="813.0" cy="343.1" r="6" class="hero-map__passive-ring"/>
          <circle cx="813.0" cy="343.1" r="3" class="hero-map__passive-dot"/>
          <text x="813.0" y="329.1" text-anchor="middle" class="hero-map__passive-label">RALEIGH</text>
        </g>
        <g>
          <circle cx="777.4" cy="475.2" r="6" class="hero-map__passive-ring"/>
          <circle cx="777.4" cy="475.2" r="3" class="hero-map__passive-dot"/>
          <text x="777.4" y="461.2" text-anchor="middle" class="hero-map__passive-label">JACKSONVILLE</text>
        </g>
        <g>
          <circle cx="789.0" cy="514.6" r="6" class="hero-map__passive-ring"/>
          <circle cx="789.0" cy="514.6" r="3" class="hero-map__passive-dot"/>
          <text x="789.0" y="500.6" text-anchor="middle" class="hero-map__passive-label">ORLANDO</text>
        </g>
        <g>
          <circle cx="769.5" cy="530.9" r="6" class="hero-map__passive-ring"/>
          <circle cx="769.5" cy="530.9" r="3" class="hero-map__passive-dot"/>
          <text x="769.5" y="516.9" text-anchor="middle" class="hero-map__passive-label">TAMPA</text>
        </g>
        <!-- Texas -->
        <g>
          <circle cx="510.4" cy="509.2" r="6" class="hero-map__passive-ring"/>
          <circle cx="510.4" cy="509.2" r="3" class="hero-map__passive-dot"/>
          <text x="510.4" y="495.2" text-anchor="middle" class="hero-map__passive-label">HOUSTON</text>
        </g>
        <g>
          <circle cx="463.9" cy="497.4" r="6" class="hero-map__passive-ring"/>
          <circle cx="463.9" cy="497.4" r="3" class="hero-map__passive-dot"/>
          <text x="463.9" y="483.4" text-anchor="middle" class="hero-map__passive-label">AUSTIN</text>
        </g>
        <g>
          <circle cx="448.7" cy="516.3" r="6" class="hero-map__passive-ring"/>
          <circle cx="448.7" cy="516.3" r="3" class="hero-map__passive-dot"/>
          <text x="448.7" y="502.3" text-anchor="middle" class="hero-map__passive-label">SAN ANTONIO</text>
        </g>
        <g>
          <circle cx="297.0" cy="452.6" r="6" class="hero-map__passive-ring"/>
          <circle cx="297.0" cy="452.6" r="3" class="hero-map__passive-dot"/>
          <text x="297.0" y="438.6" text-anchor="middle" class="hero-map__passive-label">EL PASO</text>
        </g>
        <!-- Mountain West -->
        <g>
          <circle cx="342.8" cy="273.9" r="6" class="hero-map__passive-ring"/>
          <circle cx="342.8" cy="273.9" r="3" class="hero-map__passive-dot"/>
          <text x="342.8" y="259.9" text-anchor="middle" class="hero-map__passive-label">DENVER</text>
        </g>
        <g>
          <circle cx="228.5" cy="235.3" r="6" class="hero-map__passive-ring"/>
          <circle cx="228.5" cy="235.3" r="3" class="hero-map__passive-dot"/>
          <text x="228.5" y="221.3" text-anchor="middle" class="hero-map__passive-label">SALT LAKE CITY</text>
        </g>
        <g>
          <circle cx="153.0" cy="328.1" r="6" class="hero-map__passive-ring"/>
          <circle cx="153.0" cy="328.1" r="3" class="hero-map__passive-dot"/>
          <text x="153.0" y="314.1" text-anchor="middle" class="hero-map__passive-label">LAS VEGAS</text>
        </g>
        <g>
          <circle cx="302.4" cy="376.9" r="6" class="hero-map__passive-ring"/>
          <circle cx="302.4" cy="376.9" r="3" class="hero-map__passive-dot"/>
          <text x="302.4" y="362.9" text-anchor="middle" class="hero-map__passive-label">ALBUQUERQUE</text>
        </g>
        <g>
          <circle cx="213.2" cy="430.8" r="6" class="hero-map__passive-ring"/>
          <circle cx="213.2" cy="430.8" r="3" class="hero-map__passive-dot"/>
          <text x="213.2" y="416.8" text-anchor="middle" class="hero-map__passive-label">TUCSON</text>
        </g>
        <g>
          <circle cx="170.1" cy="157.7" r="6" class="hero-map__passive-ring"/>
          <circle cx="170.1" cy="157.7" r="3" class="hero-map__passive-dot"/>
          <text x="170.1" y="143.7" text-anchor="middle" class="hero-map__passive-label">BOISE</text>
        </g>
        <g>
          <circle cx="171.1" cy="63.9" r="6" class="hero-map__passive-ring"/>
          <circle cx="171.1" cy="63.9" r="3" class="hero-map__passive-dot"/>
          <text x="171.1" y="49.9" text-anchor="middle" class="hero-map__passive-label">SPOKANE</text>
        </g>
        <!-- West Coast — labels shifted right of dot to avoid left-edge clipping -->
        <g>
          <circle cx="79.4" cy="90.3" r="6" class="hero-map__passive-ring"/>
          <circle cx="79.4" cy="90.3" r="3" class="hero-map__passive-dot"/>
          <text x="92" y="94.3" text-anchor="start" class="hero-map__passive-label">PORTLAND</text>
        </g>
        <g>
          <circle cx="34.8" cy="261.4" r="6" class="hero-map__passive-ring"/>
          <circle cx="34.8" cy="261.4" r="3" class="hero-map__passive-dot"/>
          <text x="47" y="265.4" text-anchor="start" class="hero-map__passive-label">SAN FRANCISCO</text>
        </g>
        <g>
          <circle cx="86.8" cy="363.1" r="6" class="hero-map__passive-ring"/>
          <circle cx="86.8" cy="363.1" r="3" class="hero-map__passive-dot"/>
          <text x="99" y="367.1" text-anchor="start" class="hero-map__passive-label">LOS ANGELES</text>
        </g>
        <g>
          <circle cx="99.7" cy="397.5" r="6" class="hero-map__passive-ring"/>
          <circle cx="99.7" cy="397.5" r="3" class="hero-map__passive-dot"/>
          <text x="112" y="401.5" text-anchor="start" class="hero-map__passive-label">SAN DIEGO</text>
        </g>
      </g>

      <!-- Market hotspot groups -->
      <!-- Miami -->
      <g class="hero-map__hotspot" data-market="0">
        <circle class="hero-map__pulse-ring" cx="819" cy="566" r="18" />
        <circle class="hero-map__mid-ring" cx="819" cy="566" r="7" />
        <circle class="hero-map__center-dot" cx="819" cy="566" r="3.5" />
        <text class="hero-map__market-label" x="819" y="546" text-anchor="middle">Miami</text>
      </g>

      <!-- Chicago -->
      <g class="hero-map__hotspot" data-market="1">
        <circle class="hero-map__pulse-ring" cx="632" cy="215" r="18" />
        <circle class="hero-map__mid-ring" cx="632" cy="215" r="7" />
        <circle class="hero-map__center-dot" cx="632" cy="215" r="3.5" />
        <text class="hero-map__market-label" x="632" y="195" text-anchor="middle">Chicago</text>
      </g>

      <!-- Dallas-Fort Worth -->
      <g class="hero-map__hotspot" data-market="2">
        <circle class="hero-map__pulse-ring" cx="471" cy="432" r="18" />
        <circle class="hero-map__mid-ring" cx="471" cy="432" r="7" />
        <circle class="hero-map__center-dot" cx="471" cy="432" r="3.5" />
        <text class="hero-map__market-label" x="471" y="412" text-anchor="middle">Dallas–Fort Worth</text>
      </g>

      <!-- Boston -->
      <g class="hero-map__hotspot" data-market="3">
        <circle class="hero-map__pulse-ring" cx="905" cy="156" r="18" />
        <circle class="hero-map__mid-ring" cx="905" cy="156" r="7" />
        <circle class="hero-map__center-dot" cx="905" cy="156" r="3.5" />
        <text class="hero-map__market-label" x="905" y="136" text-anchor="middle">Boston</text>
      </g>

      <!-- Connection line (drawn dynamically) -->
      <line class="hero-map__connector" id="hmConnector" x1="0" y1="0" x2="0" y2="0" />
    </svg>

    <!-- Floating insight panel -->
    <div class="hero-map__insight" id="hmInsight" aria-live="polite">
      <div class="hero-map__insight-header">
        <span class="hero-map__insight-code" id="hmCode"></span>
        <span class="hero-map__insight-market" id="hmMarket"></span>
      </div>
      <div class="hero-map__insight-body">
        <div class="hero-map__insight-label">Top negotiated rate</div>
        <div class="hero-map__insight-rate" id="hmRate"></div>
      </div>
      <div class="hero-map__insight-provider" id="hmProvider"></div>
      <div class="hero-map__insight-payer" id="hmPayer"></div>
    </div>


  </div>
</div>

<style>
  /* ── Map Visual Container ── */
  .hero-map__visual {
    position: relative;
    opacity: 0;
    animation: hmFadeIn 1s cubic-bezier(0.23, 1, 0.32, 1) 0.3s forwards;
  }

  .hero-map__map-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 11;
    overflow: visible;
  }

  .hero-map__svg {
    width: 100%;
    height: 100%;
  }

  /* ── Grid pattern ── */
  .hero-map__grid {
    opacity: 0;
    animation: hmFadeIn 1.5s ease 0.6s forwards;
  }

  /* ── US Map paths ── */
  .hero-map__us-fill {
    fill: url(#hmMapFill);
    stroke: none;
    opacity: 0;
    animation: hmFadeIn 1.2s ease 0.5s forwards;
  }

  .hero-map__us-states {
    fill: none;
    stroke: var(--color-brand-secondary);
    stroke-opacity: 0.05;
    stroke-width: 0.5;
    stroke-linejoin: round;
    opacity: 0;
    animation: hmFadeIn 1.4s ease 0.6s forwards;
  }

  .hero-map__us-outline {
    fill: none;
    stroke: var(--color-brand-secondary);
    stroke-opacity: 0.15;
    stroke-width: 1.2;
    stroke-linejoin: round;
    opacity: 0;
    animation: hmFadeIn 1.2s ease 0.5s forwards;
  }

  .hero-map__scatter {
    opacity: 0;
    animation: hmFadeIn 1.5s ease 0.8s forwards;
  }

  /* ── Data flow lines ── */
  .hero-map__data-lines {
    opacity: 0;
    animation: hmFadeIn 1s ease 1.3s forwards;
  }

  .hero-map__data-line {
    stroke: var(--color-brand-secondary);
    stroke-width: 0.6;
    stroke-opacity: 0.1;
    stroke-dasharray: 6 8;
    animation: hmDash 12s linear infinite;
  }

  /* ── Passive cities ── */
  .hero-map__passive-cities {
    opacity: 0;
    animation: hmFadeIn 1.8s ease 1.0s forwards;
  }

  .hero-map__passive-ring {
    fill: none;
    stroke: var(--color-brand-secondary);
    stroke-width: 0.5;
    opacity: 0.2;
  }

  .hero-map__passive-dot {
    fill: var(--color-brand-secondary);
    opacity: 0.4;
  }

  .hero-map__passive-label {
    fill: rgba(255, 255, 255, 0.28);
    font-size: 10px;
    font-weight: 500;
    font-family: var(--font-sans);
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  /* ── Hotspots ── */
  .hero-map__hotspot {
    cursor: pointer;
    opacity: 0;
    animation: hmFadeIn 0.8s ease forwards;
  }

  .hero-map__hotspot[data-market="0"] { animation-delay: 0.7s; }
  .hero-map__hotspot[data-market="1"] { animation-delay: 0.85s; }
  .hero-map__hotspot[data-market="2"] { animation-delay: 1.0s; }
  .hero-map__hotspot[data-market="3"] { animation-delay: 1.15s; }

  .hero-map__pulse-ring {
    fill: none;
    stroke: var(--color-brand-secondary);
    stroke-width: 0.6;
    opacity: 0.12;
    animation: hmPulse 3s ease-in-out infinite;
    transition: opacity 0.4s ease, r 0.4s ease;
  }

  .hero-map__hotspot.is-active .hero-map__pulse-ring {
    opacity: 0.35;
    stroke-width: 0.8;
  }

  .hero-map__mid-ring {
    fill: rgba(0, 183, 253, 0.08);
    stroke: var(--color-brand-secondary);
    stroke-width: 0.6;
    opacity: 0.25;
    transition: all 0.4s ease;
  }

  .hero-map__hotspot.is-active .hero-map__mid-ring {
    opacity: 0.7;
    stroke-width: 1.5;
    r: 10;
    filter: url(#hmDotGlow);
  }

  .hero-map__center-dot {
    fill: var(--color-brand-secondary);
    opacity: 0.5;
    transition: all 0.3s ease;
  }

  .hero-map__hotspot.is-active .hero-map__center-dot {
    opacity: 1;
    r: 4.5;
    filter: url(#hmDotGlow);
  }

  .hero-map__market-label {
    fill: rgba(255, 255, 255, 0.35);
    font-size: 11px;
    font-weight: 500;
    font-family: var(--font-sans);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    transition: all 0.3s ease;
  }

  .hero-map__hotspot.is-active .hero-map__market-label {
    fill: var(--color-brand-secondary);
    font-weight: 600;
    font-size: 11.5px;
  }

  /* ── Connector line ── */
  .hero-map__connector {
    stroke: var(--color-brand-secondary);
    stroke-width: 0.6;
    stroke-dasharray: 4 4;
    opacity: 0;
    transition: opacity 0.15s ease;
  }

  .hero-map__connector.is-visible {
    opacity: 0.25;
    transition: opacity 0.4s ease 0.15s;
  }

  /* ── Insight Panel ── */
  .hero-map__insight {
    position: absolute;
    width: 225px;
    background: rgba(0, 31, 41, 0.95);
    border: 1px solid rgba(0, 183, 253, 0.3);
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 0 50px rgba(0, 183, 253, 0.07), 0 24px 48px rgba(0, 0, 0, 0.45);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease, transform 0.15s ease;
    z-index: 10;
    transform: scale(0.96);
  }

  .hero-map__insight.is-visible {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1) 0.05s,
                transform 0.35s cubic-bezier(0.23, 1, 0.32, 1) 0.05s;
  }

  .hero-map__insight-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
  }

  .hero-map__insight-code {
    display: inline-block;
    padding: 2px 8px;
    background: linear-gradient(135deg, var(--color-brand-secondary), var(--color-brand-primary));
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    color: var(--color-brand-dark-deep);
    font-family: ui-monospace, SFMono-Regular, monospace;
  }

  .hero-map__insight-market {
    font-size: 9px;
    color: rgba(255, 255, 255, 0.35);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 500;
  }

  .hero-map__insight-label {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.35);
    margin-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .hero-map__insight-rate {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    font-family: ui-monospace, SFMono-Regular, monospace;
    letter-spacing: -1px;
    margin-bottom: 12px;
  }

  .hero-map__insight-provider {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
    line-height: 1.4;
  }

  .hero-map__insight-payer {
    font-size: 10.5px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 12px;
  }

  .hero-map__insight-footer {
    padding-top: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-map__insight-footer-label {
    font-size: 9px;
    color: rgba(255, 255, 255, 0.35);
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .hero-map__insight-footer-count {
    font-size: 12px;
    color: var(--color-brand-primary);
    font-weight: 600;
    font-family: ui-monospace, SFMono-Regular, monospace;
  }

  /* ── Ticker ── */
  .hero-map__ticker {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 0;
    animation: hmFadeIn 0.8s ease 1.5s forwards;
  }

  .hero-map__ticker-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #00e87b;
    box-shadow: 0 0 8px #00e87b;
    animation: hmTickerPulse 2s ease-in-out infinite;
  }

  .hero-map__ticker-text {
    font-size: 10.5px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.3px;
  }

  /* ── Animations ── */
  @keyframes hmFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes hmPulse {
    0%, 100% { r: 18; opacity: 0.12; }
    50% { r: 24; opacity: 0.06; }
  }

  @keyframes hmDash {
    from { stroke-dashoffset: 0; }
    to { stroke-dashoffset: -140; }
  }

  @keyframes hmTickerPulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.4; }
  }

  /* ── Responsive ── */
  @media (max-width: 1024px) {
    .hero-map__visual {
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
    }

    .hero-map__insight {
      width: 190px;
      padding: 14px;
    }

    .hero-map__insight-rate {
      font-size: 20px;
    }
  }

  @media (max-width: 640px) {
    .hero-map__insight {
      width: 170px;
      padding: 12px;
      border-radius: 10px;
    }

    .hero-map__insight-rate {
      font-size: 18px;
      margin-bottom: 8px;
    }

    .hero-map__insight-provider {
      font-size: 11px;
    }

    .hero-map__insight-payer {
      font-size: 9.5px;
      margin-bottom: 8px;
    }

    .hero-map__insight-footer {
      padding-top: 8px;
    }

    .hero-map__connector {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const markets = [
      {
        code: '29827',
        label: 'Miami',
        rate: '$19,324',
        provider: 'Cleveland Clinic',
        payer: 'Aetna',
        count: '48,200',
        cx: 819, cy: 566,
      },
      {
        code: '27447',
        label: 'Chicago',
        rate: '$14,891',
        provider: 'Rush University Medical Center',
        payer: 'BCBS Illinois',
        count: '62,100',
        cx: 632, cy: 215,
      },
      {
        code: '43239',
        label: 'Dallas–Fort Worth',
        rate: '$22,150',
        provider: 'Baylor Scott & White',
        payer: 'UnitedHealthcare',
        count: '55,400',
        cx: 471, cy: 432,
      },
      {
        code: '70553',
        label: 'Boston',
        rate: '$26,712',
        provider: 'Mass General Brigham',
        payer: 'Harvard Pilgrim',
        count: '41,800',
        cx: 905, cy: 156,
      },
    ];

    const hotspots = document.querySelectorAll('.hero-map__hotspot');
    const insight = document.getElementById('hmInsight');
    const connector = document.getElementById('hmConnector');
    const els = {
      code: document.getElementById('hmCode'),
      market: document.getElementById('hmMarket'),
      rate: document.getElementById('hmRate'),
      provider: document.getElementById('hmProvider'),
      payer: document.getElementById('hmPayer'),
    };

    let currentIdx = -1;
    let cycleTimer = null;
    let isHovering = false;
    let pendingTimeout = null;

    function positionInsight(m) {
      // Convert SVG coords (960x600) to percentages of the container
      const xPct = (m.cx / 960) * 100;
      const yPct = (m.cy / 600) * 100;

      // Get card dimensions as % of container
      const container = document.querySelector('.hero-map__map-container');
      const containerW = container.offsetWidth;
      const containerH = container.offsetHeight;
      const cardW = insight.offsetWidth || 225;
      const cardH = insight.offsetHeight || 210;
      const cardWPct = (cardW / containerW) * 100;
      const cardHPct = (cardH / containerH) * 100;

      // Place card to the left or right of the hotspot
      let leftPct, topPct;
      const offsetX = 4;

      if (m.cx > 480) {
        leftPct = xPct - cardWPct - offsetX;
      } else {
        leftPct = xPct + offsetX;
      }

      // Vertically center card on the hotspot, clamped to container
      topPct = yPct - (cardHPct / 2);
      topPct = Math.max(2, Math.min(topPct, 100 - cardHPct - 2));
      leftPct = Math.max(0, Math.min(leftPct, 100 - cardWPct));

      insight.style.left = leftPct + '%';
      insight.style.top = topPct + '%';
      insight.style.right = 'auto';
    }

    function activateMarket(idx) {
      if (idx === currentIdx) return;
      currentIdx = idx;
      const m = markets[idx];

      // Update hotspot states
      hotspots.forEach((h, i) => {
        h.classList.toggle('is-active', i === idx);
      });

      // Cancel any pending transition from a previous rapid switch
      if (pendingTimeout) clearTimeout(pendingTimeout);

      // Fade out card + connector
      insight.classList.remove('is-visible');
      connector.classList.remove('is-visible');

      // After brief fade-out, update content + position and fade back in
      pendingTimeout = setTimeout(() => {
        els.code.textContent = m.code;
        els.market.textContent = m.label;
        els.rate.textContent = m.rate;
        els.provider.textContent = m.provider;
        els.payer.textContent = m.payer;

        positionInsight(m);
        insight.classList.add('is-visible');

        // Update connector: short line from hotspot toward the card
        const connectorTargetX = m.cx > 480 ? m.cx - 50 : m.cx + 50;
        connector.setAttribute('x1', m.cx);
        connector.setAttribute('y1', m.cy);
        connector.setAttribute('x2', connectorTargetX);
        connector.setAttribute('y2', m.cy);
        connector.classList.add('is-visible');

        pendingTimeout = null;
      }, 160);
    }

    function startCycle() {
      activateMarket(0);
      cycleTimer = setInterval(() => {
        if (isHovering) return;
        const next = (currentIdx + 1) % markets.length;
        activateMarket(next);
      }, 3000);
    }

    // Hover interaction
    hotspots.forEach((h, i) => {
      h.addEventListener('mouseenter', () => {
        isHovering = true;
        activateMarket(i);
      });
      h.addEventListener('mouseleave', () => {
        isHovering = false;
      });
    });

    // Start auto-cycle after initial load animation
    setTimeout(startCycle, 1200);
  });
</script>
